{
    "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-sass-guidelines",
        "stylelint-config-prettier"
    ],
    "rules": {
       "max-nesting-depth": 5
    }
}