@import "./base";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
.about-container {
  margin-left: -15px;
  margin-right: -15px;
  .about {
    &-title {
      font-weight: bold;
    }
    &-sub-headings {
      font-weight: bold;
    }
  }
  .body-section {
    section {
      padding: 10px 0;
    }
  }
}
