@import "./base";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/type";
html {
  box-sizing: border-box;
  font-size: 0.8rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

body {
  min-height: 100%;
  position: absolute;
  width: 100%;
}

html,
body {
  font-family: $font-0;
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

.unset-list-style {
  li {
    list-style-type: initial;
  }
}

.loader {
  position: relative;
  &::before {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      $white-70,
      rgba(0, 0, 0, 0)
    );
    content: "";
    height: 1px;
    left: 10%;
    position: absolute;
    top: -19px;
    width: 38px;
  }
  &::after {
    background: #dadada; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 10px 5px $white-20;
    content: "";
    height: 3px;
    left: 16.5%;
    position: absolute;
    top: -21px;
    width: 3px;
  }
  li {
    background: $white; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 30px;
    height: 20px;
    left: 46px;
    position: absolute;
    top: 40px;
    width: 8px;
    &:nth-child(1) {
      background: $white; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(30deg) translate(0, -30px);
    }
    &:nth-child(2) {
      background: $color-gray-nurse-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(60deg) translate(0, -30px);
    }
    &:nth-child(3) {
      background: $color-alto-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(90deg) translate(0, -30px);
    }
    &:nth-child(4) {
      background: $color-quil-gray-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(120deg) translate(0, -30px);
    }
    &:nth-child(5) {
      background: $color-silver-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(150deg) translate(0, -30px);
    }
    &:nth-child(6) {
      background: $color-delta-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(180deg) translate(0, -30px);
    }
    &:nth-child(7) {
      background: $color-tapa-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(210deg) translate(0, -30px);
    }
    &:nth-child(8) {
      background: $color-storm-dust-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(240deg) translate(0, -30px);
    }
    &:nth-child(9) {
      background: $color-fuscous-gray-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(270deg) translate(0, -30px);
    }
    &:nth-child(10) {
      background: $color-gravel-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(300deg) translate(0, -30px);
    }
    &:nth-child(11) {
      background: $color-cape-cod-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(330deg) translate(0, -30px);
    }
    &:nth-child(12) {
      background: $color-tuatara-approx; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(0deg) translate(0, -30px);
    }
  }
  ul {
    animation: spinner 1s steps(12, end) infinite;
    height: 100px;
    margin: 0 auto 20px;
    position: relative;
    width: 100px;
  }
}

@keyframes spinner {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg) scale(0.6);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(360deg) scale(0.6);
  }
}

.nav-item > .nav-link {
  &:hover {
    text-decoration: none;
  }
  &.active {
    border-bottom: 1px solid #de4270;
    border-radius: 1px;
  }
}

.navbar-toggler:hover {
  background: rgba(0, 0, 0, 0.08);
}

.nav-item {
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: uppercase;
}
.fixme-footer {
  background-color: #1f2b44;
  box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  @include media-breakpoint-up(md) {
    &-left {
      margin: 0 68px;
    }
  }
  &-moz-text {
    color: #b2babd;
    max-width: 400px;
    text-align: center;
  }
}
