@import "./base";
.home-container {
  background: #102131;
  .home-section {
    min-height: 45vh;
    .container,
    .row {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
    }
  }
  .nav-item > .nav-link {
    &.active {
      border-bottom: 1px solid transparent;
    }
  }
  .home-call-to-action-text,
  .home-call-to-action-text > span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.4px;
  }
  .home-call-to-action-text > .extra-bold {
    font-weight: 800;
  }
  .learn-more {
    background-image: linear-gradient(to bottom, #de4270, #1f2b44);
    border: 0;
    border-radius: 6px;
    color: $main-white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
    min-height: 39px;
    min-width: 140px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    &:active {
      background-image: linear-gradient(
        to bottom,
        darken(#de4270, 10),
        darken(#1f2b44, 10)
      ) !important;
    }
  }
  .home-illustration-img {
    margin-bottom: -2em;
  }
  .home-about-you {
    background-color: #e7e7e7;
    padding-top: 3em;
    &-title {
      color: #ea006e;
      font-weight: bold;
      text-align: center;
    }
    &-magic {
      color: #1f2b44;
      display: flex;
      font-weight: 300;
      justify-content: center;
      text-align: center;
      .h2 {
        display: inline-block;
        font-family: $font-1;
      }
    }
    &-btn {
      border: solid 3px #de4270;
      border-radius: 10px;
      span {
        color: #1f2b44;
        font-family: $font-1;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: -0.4px;
        text-align: center;
      }
    }
  }
  .home-project {
    background-image: linear-gradient(118deg, #ea006e, #1f2b44);
    &-text {
      color: $main-white;
      font-size: 48px;
      font-weight: bold;
      letter-spacing: -0.6px;
      text-align: center;
      span {
        font-size: 36px;
        font-weight: 500;
      }
    }
    &-img {
      height: 100%;
      min-height: 35vh;
      object-fit: fill;
    }
    &-link {
      color: $main-white;
      text-decoration: underline;
    }
  }
  .home-twitter {
    background-color: #e7e7e7;
    color: #ea006e;
    h2 {
      color: #ea006e;
      padding-bottom: 0;
    }
    span {
      font-family: $font-1;
    }
    &-tweet {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      padding: 2em;
      text-align: center;
    }
  }
  .arrow-right {
    border: solid #de4270;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
  }
}
