@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "./base";
.issues-container {
  .easy,
  .easyfix {
    border-radius: 4px;
    box-shadow: inset 4px 0 0 0 #d9ffaf;
  }
  .moderate {
    border-radius: 4px;
    box-shadow: inset 4px 0 0 0 #ffc98f;
  }
  .senior {
    border-radius: 4px;
    box-shadow: inset 4px 0 0 0 #ff9696;
  }
  .issue-card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: $font-1;
    margin-bottom: 1.5em;
    padding: 1em 0.75em;
    &-main {
      color: $main-blue;
      padding: 0.75em 1.5em;
      padding-right: 0.5em;
    }
    &-meta {
      background: #fcfcfc;
      padding: 1.5em 0.4em;
      white-space: nowrap;
      @include media-breakpoint-up(lg) {
        padding: 0.75em 1.5em;
        padding-left: 3em;
      }
      &::before {
        background: #e7e7e7;
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        min-height: 70px;
        position: absolute;
        top: 0;
        width: 1px;
      }
      span {
        color: #575757;
        font-size: 0.8em;
        font-weight: 500;
        letter-spacing: 0.3px;
      }
    }
    &-title {
      color: $main-blue;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: capitalize;
    }
    &-subtitle {
      color: $main-blue;
      font-size: 0.9em;
      letter-spacing: 0.4px;
      text-transform: capitalize;
    }
    &-description {
      color: $main-blue;
      font-size: 0.9em;
      letter-spacing: 0.3px;
      line-height: 16px;
      a {
        color: #164CCB;
      }
      code {
        color: #595959;
        font-size: 0.9em;
        letter-spacing: 0.3px;
      }
      img {
        max-width: 100%;
      }
      h1 {
        font-size: 1.4rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
  .issues-filter-container {
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    font-family: $font-1;
    max-height: 90vh;
    overflow-y: scroll;
  }
  .issue-order-by {
    background-color: $main-white;
    border: solid 1px #de4270;
    border-radius: 4px;
    color: $main-blue;
    font-family: $font-0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    &:focus,
    &:active {
      border: solid 1px #de4270;
    }
  }
  .issues-filter-wrapper {
    display: none;
    @include media-breakpoint-up(md) {
      display: unset;
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
  .circle {
    background: #c9ffa9;
    border-radius: 50%;
    box-shadow: none;
    display: inline-block;
    height: 10px;
    width: 10px;
    &.senior {
      background: #ff8892;
    }
    &.moderate {
      background: #ffcb88;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a {
    color: #de4270;
    padding: 0.5em 0.6em;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    background-color: #f9f9f9;
    border: solid 0.5px #bbb;
    border-radius: 4px;
    color: #de4270;
    cursor: pointer;
    display: inline-block;
    font-family: $font-1;
    margin: 0.25em;
    text-align: center;

    &.active {
      background: #efefef;
      border: solid 1px #bbb;

      a {
        color: #9b9b9b;
      }
    }
  }
}
