@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "./base";
.issues-container {
  .easy {
    box-shadow: inset 4px 0 0 0 #d9ffaf;
    border-radius: 4px;
  }
  .moderate {
    border-radius: 4px;
    box-shadow: inset 4px 0 0 0 #ffc98f;
  }

  .senior {
    border-radius: 4px;
    box-shadow: inset 4px 0 0 0 #ff9696;
  }

  .issue-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: $font_1;
    background: #fff;
    padding: 1em 0.75em;
    margin-bottom: 1.5em;
    cursor: pointer;

    &-main {
      padding: 0.75em 1.5em;
      padding-right: 0.5em;
      color: $main_blue;
    }

    &-meta {
      padding: 0.75em 1.5em;
      background: #fcfcfc;
      &::before {
        background: #e7e7e7;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 70px;
        height: 100%;
      }

      span {
        font-size: 0.8em;
        color: #9b9b9b;
        font-weight: 500;
        letter-spacing: 0.3px;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: $main_blue;
      text-transform: capitalize;
    }

    &-subtitle {
      text-transform: capitalize;
      font-size: 0.9em;
      letter-spacing: 0.4px;
      color: $main_blue;
    }

    &-description {
      line-height: 16px;
      font-size: 0.9em;
      letter-spacing: 0.3px;
      color: $main_blue;

      code {
        font-size: 0.9em;
        letter-spacing: 0.3px;
        color: #9b9b9b;
      }
    }
  }

  .issues-filter-container {
    font-family: $font_1;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .issue-order-by {
    border-radius: 4px;
    border: solid 1px #de4270;
    background-color: $main_white;
    font-family: $font_0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: $main_blue;
    &:focus,
    &:active {
      border: solid 1px #de4270;
    }
  }

  .issues-filter-wrapper {
    display: none;

    @include media-breakpoint-up(md) {
      display: unset;
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
}
