@import "./base";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
$opacity: 0.3;

.projects-container {
  a:hover {
    text-decoration: none !important;
  }
  .projects {
    @include media-breakpoint-up(md) {
      &-tile-tag-wrapper {
        max-width: 50%;
      }
    }
    &-title {
      font-weight: bold;
      letter-spacing: -0.6px;
    }
    &-include {
      &-title {
        font-weight: bold;
        letter-spacing: -0.5px;
      }
      &-text {
        font-family: $font-1;
        line-height: 20px;
        text-align: justify;
      }
    }
    &-description {
      bottom: 0;
      display: flex;
      font-family: $font-1;
      font-size: 1em;
      left: 0;
      line-height: 17px;
      position: absolute;
      right: 0;
      text-align: justify;
      top: 0;
      visibility: hidden;
      z-index: 2;
      &-text {
        color: #fff;
        font-size: 0.8em;
        margin: 1em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, $opacity);
      }
    }
    &-tile {
      &-bottom-wrapper {
        height: 80%;
        position: relative;
        &::before {
          background: rgb(0, 0, 0);
          content: " ";
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
        }
      }
      &-top-wrapper {
        height: 20%;
        padding: 0.3em 1em;
      }
      &-top-issues {
        line-height: 12px;
        margin-top: 0.5em;
      }
      &-wrapper {
        border-radius: 10px;
        color: $main-white;
        height: 30vh;
        min-height: 150px;
        overflow: hidden;
        width: 100%;

        &:hover {
          .projects-tile-top-wrapper {
            background: rgba(0, 0, 0, $opacity);
          }
          .projects-tile-bottom-wrapper::before {
            background: rgba(0, 0, 0, $opacity);
            opacity: 1;
          }
          .projects-description {
            visibility: visible;
          }
        }
      }
      &-logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100%;
        object-fit: fill;
      }
      &-logo-wrapper {
        display: inline-flex;
        height: 100%;
        left: 7%;
        position: relative;
        top: 7%;
      }
    }
    &-tile-tag {
      background: transparent;
      border: 1px solid $main-white;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      color: $main-white;
      display: inline-block;
      font-size: 0.8em;
      height: 22px;
      line-height: 20px;
      margin: 0.1em 15px;
      padding: 0 8px;
      position: relative;
      white-space: nowrap;
      z-index: 1;
      &::before {
        border-bottom: 1px solid $main-white;
        border-left: 1px solid $main-white;
        border-radius: 2px 0 2px 1px;
        content: "";
        font-size: 12px;
        height: 15px;
        left: -8px;
        line-height: 13px;
        position: absolute;
        text-indent: 6px;
        top: 3px;
        transform: rotate(45deg);
        width: 18px;
      }
    }
  }
}
