$navbar-light-color: $main_blue;
$navbar-light-active-color: $main_blue;
$navbar-light-toggler-border-color: #de4270;
$navbar-light-hover-color: lighten($main_blue, 20%);
$navbar-dark-toggler-border-color: #de4270;
$navbar-dark-active-color: $main_white;
$navbar-dark-color: $main_white;
$body-bg: $main_white;
