$navbar-light-color: $main-blue;
$navbar-light-active-color: $main-blue;
$navbar-light-toggler-border-color: #de4270;
$navbar-light-hover-color: lighten($main-blue, 20%);
$navbar-dark-toggler-border-color: #de4270;
$navbar-dark-active-color: $main-white;
$navbar-dark-color: $main-white;
$body-bg: $main-white;
