// Heading typography
.heading {
  margin-bottom: 0.618em;

  &.-extra-large {
    font-size: $font-size--xl;
    font-weight: normal;
  }

  &.-large {
    font-size: $font-size--md;
    font-weight: 600;
  }

  &.-medium {
    font-size: $font-size--rg;
    font-weight: 600;
  }

  &.-small {
    font-size: $font-size--sm;
    font-weight: 600;
  }

  &.-extra-small {
    font-size: $font-size--xs;
    font-weight: 600;
  }
}

h1 {
  @extend .heading.-extra-large;
}

h2 {
  @extend .heading.-large;
}

h3 {
  @extend .heading.-medium;
}

h4 {
  @extend .heading.-small;
}

h5 {
  @extend .heading.-extra-small;
}

// Text
p {
  font-size: $font-size--xs;
  margin-bottom: 1em;
}

span {
  font-size: $font-size--xs;
  font-weight: 600;
}

// Elements focus
button:focus,
i:focus,
span:focus,
a:focus,
div:focus,
p:focus {
  outline: none;
}
