// Loader
$white-70: rgba(#dadada, 0.7);
$black-40: rgba(#dadada, 0.4);
$white-20: rgba(#dadada, 0.2);
$color-silver-approx: #dadada;
$color-gray-nurse-approx: #e8e8e8;
$color-alto-approx: #dedede;
$color-quil-gray-approx: #d2d2d2;
$color-delta-approx: #dadada;
$color-tapa-approx: #dadada;
$color-storm-dust-approx: #dadada;
$color-fuscous-gray-approx: #dadada;
$color-gravel-approx: #dadada;
$color-cape-cod-approx: #dadada;
$color-tuatara-approx: #dadada;
// Fonts
$font-0: "Raleway", sans-serif;
$font-1: "Open Sans", sans-serif;
// Colors
$main-white: #fafafa;
$main-blue: #282a3a;
