// Loader
$white_70: rgba(#dadada, 0.7);
$black_40: rgba(#dadada, 0.4);
$white_20: rgba(#dadada, 0.2);
$color_silver_approx: #dadada;
$color_gray_nurse_approx: #e8e8e8;
$color_alto_approx: #dedede;
$color_quill_gray_approx: #d2d2d2;
$color_delta_approx: #dadada;
$color_tapa_approx: #dadada;
$color_storm_dust_approx: #dadada;
$color_fuscous_gray_approx: #dadada;
$color_gravel_approx: #dadada;
$color_cape_cod_approx: #dadada;
$color_tuatara_approx: #dadada;
// Fonts
$font_0: Raleway, sans-serif;
$font_1: "Open Sans", sans-serif;
// Colors
$main_white: #fafafa;
$main_blue: #282a3a;
